@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600&display=swap');

html {
  font-family: 'Inter', sans-serif; /* Body text */
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif; /* Headers */
}

.logo-text {
  font-family: 'Poppins', sans-serif; /* Logo text */
}

.v-btn .v-btn__content {
  padding: 0 20px;
}
