:root {
    --clr-primary: #4b26d0;
    --clr-secondary: #abd026;
    --clr-accent: #f88d6e;
    --clr-background: #efe7fb;
    --clr-surface: #ffffff;
    --clr-header-text: #212121;
    --clr-body-text: #424242;
    --clr-subtext: #757575;
  }
  